*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
background: #3b679e; /* Old browsers */
background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
height: 130px;
display: flex;
width: 100%;
}
body {
background: yellow;
}
.nav-main{ 
	width: 100%;
	font-family: monospace;
	padding-top: 70px;
	font-size: 15px;
	text-align: right;
}
.nav-main ul{
	list-style: none;
	
}
.nav-menu > li{
	position: relative;
	display: inline-block;
}
.nav-menu > li > a{
	display: block;
	padding: 15px 25px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
	text-align: center;
}
.nav-menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}
.submenu{
	position: absolute;
	background: #333333;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	text-align: center;
}
.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}
.nav-menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
h1 {
	margin-right: 50px;
	font-size: 30px;
	font-family: fantasy;
	text-align: center;
	}
	p {
	text-align: center;
	font-size: 40px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
	}
	h2 {
	font-family: cursive;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 80px;
	}
	h4{
	text-align: center;
	font-family: fantasy;
	font-size: 30px;
	margin-bottom: 63px;
	}
.news-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
	margin: 70px 0;
  }
  
  .news-cards img {
	width: 100%;
	height: 180px;
  }
  
  .news-cards h3 {
	font-size: 20px;
	margin: 10px 0;
  }
  
  .news-cards a {
	padding: 10px 0;
	color: #f2f2f2;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
  }
  
  
  
  .cards-banner-one .content {
	width: 40%;
	padding: 90px 0 0 30px;
	color: #fff;
  }
  
  .cards-banner-one p,
  .cards-banner-two p {
	margin: 10px 0 20px 0;
  }
  /* Mobil */
  @media (max-width: 700px) {
	.menu-btn {
	  display: block;
	}
}
  
	.menu-btn:hover {
	  opacity: 0.5;
	}
  
	
  
	.nav-main ul.nav-menu li {
	  padding: 20px;
	  border-bottom: #ccc solid 1px;
	  font-size: 14px;
	}
	.nav-main ul.nav-menu li:last-child {
	  border-bottom: 0;
	}
  
	.nav-main ul.nav-menu.show {
	  transform: translateX(-20px);
	}
  
	.nav-main ul.nav-menu-right {
	  margin-right: 50px;
	}
  
	.news-cards {
	  grid-template-columns: repeat(2, 1fr);
	}
  
	.cards-banner-one .content,
	.cards-banner-two .content {
	  width: 80%;
	}
  
  @media (max-width: 500px) {
	.news-cards {
	  grid-template-columns: 1fr;
	}
  
	.cards-banner-one .content,
	.cards-banner-two .content {
	  width: 100%;
	  padding: 60px 20px;
	}
}
